$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

@import "../../node_modules/bootstrap/scss/bootstrap";

body{
    background: #ebeef4;
}

.header{
    background: url(../images/background.jpeg) no-repeat;
    background-size: cover;
    height: 600px;

    .header-text{
        border-radius: 86% 14% 89% 11% / 30% 81% 19% 70% ;
        background: #f8f9fae6;
    }
}

.card-img-top{
    height: 150px;
    
    img{
        height: 100%;
        width: 100%; 
        object-fit: cover;
        border-radius: 10px 10px 0 0px;

    }
}

.card{
    border-radius: 10px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .card-img-top{
        height: 250px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card-img-top{
        height: 150px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-img-top{
        height: 250px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card-img-top{
        height: 250px;
    }
}